@use "mixins" as mix;

#home {
    .lastest-news {
        font-family: mix.$font-AbrilFatface;
        .news-bar {
            display: block;
            width: 5%;
            border-bottom: 5px solid mix.$color-black;
            margin-top: 30px;
        }
    }
    .content-slides {
        display: block;
        position: relative;
        margin: 0 auto;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        @media (max-width: 430px) {
            display: flex;
            position: relative;
        }
        .content-wrapper {
            display: flex;
            position: relative;
            min-height: mix.$height-card-wrapper;
            @media (max-width: 1400px) {
                min-height: mix.$height-card-wrapper-2;
            }
            @media (max-width: 1200px) {
                min-height: mix.$height-card-wrapper-3;
            }
            .content-blogs {
                font-family: mix.$font-DMSans;
                display: flex;
                margin: 0 auto;
                position: absolute;
                min-height: mix.$height-card-content;
                opacity: 0;
                &.on {
                    opacity: 1;
                }
                @media (max-width: 992px) {
                    width: 70vw;
                }
                @media (max-width: 430px) {
                    position: relative;
                    width: 100%;
                    right: 5em;
                }
                .content-text {
                    display: block;
                    background-color: mix.$color-white;
                    color: mix.$color-grey-2;
                    z-index: 1;
                    -moz-user-select: text;
                    -webkit-user-select: text;
                    user-select: text;
                    margin-top: 1.5em;
                    padding: 10px;
                    width: 100%;
                    h3 {
                        color: mix.$color-blue;
                        font-size: 32px;
                        font-weight: 300;
                        margin-top: 25px;
                    }
                    a {
                        text-decoration: none;
                    }
                    p {
                        width: 82%;
                        margin-top: 30px;
                        line-height: 2;
                        @media (max-width: 1400px) {
                            line-height: 1.5;
                        }
                        @media (max-width: 1200px) {
                            line-height: 2;
                        }
                    }
                    @media (max-width: 1200px) {
                        min-height: 55vh;
                    }
                    @media (max-width: 992px) {
                        min-height: auto;
                        height: auto;
                    }
                    @media (max-width: 430px) {
                        width: 85vw;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        margin-top: 5em;
                    }
                }
            }
            .img-thumbnail{
                position: absolute;
                display: block;
                left: 80%;
                border: none;
                max-width: 450px;
                max-height: 420px;
                &.grey {
                    width: 450px;
                    height: 420px;
                }
                @media (max-width: 992px) {
                    position: relative;
                    display: block;
                    left: -100%;
                    max-width: 130px;
                    max-height: 130px;
                    z-index: 1;
                    border: 5px solid mix.$color-light-grey;
                    border-radius: 15px;
                    &.grey {
                        width: 100%;
                        height: 12vw;
                    }
                }
                @media (max-width: 600px) {
                    display: none;
                }
            }
        }
    }
    .block-slides-ui {
        display: flex;
        width: 70%;
        z-index: 1;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        @media (max-height: 900px) {
            margin-top: 0.5em; 
        }
        @media (max-width: 992px) {
            position: absolute;
            margin: 8em 14em;
        }
        @media (max-width: 430px) {
            margin: 10em 8em 0em 3em;
            @media (max-height: 900px) {
                left: 0;
                margin-top: 5em;
            }
        }
        .navegation {
            display: flex;
            margin-top: 3em;
            @media (max-width: 430px) {
                width: 80%;
            }
            @media (max-width: 1400px) {
                margin-top: 6.5em;
            }
            @media (max-width: 1200px) {
                margin-top: 4em;
            }
            @media (max-width: 992px) {
                margin-top: 0;
            }
            .arrow {
                background: url(../img/Arrow.svg), no-repeat, center;
                background-size: cover;
                width: 20px;
                height: 20px;
                display: block;
                margin: 0px 10px;
                cursor: pointer;
                &.next {
                    transform: rotate(180deg);
                }
                @media (max-width: 430px) {
                    margin-top: 10px;
                    width: 30px;
                    height: 30px;
                }
            }
            .progress-bar {
                background-color: transparent;
                position: relative;
                flex-direction: row;
                .bar {
                    margin: 8px 3px;
                    padding: 0px;
                    background-color: mix.$color-grey;
                    width: 15px;
                    height: 3px;
                    position: relative;
                    display: block;
                    border-radius: 6px;
                    &.filled {
                        background-color: mix.$color-black;
                    }
                    @media (max-width: 430px) {
                        margin-top: 20px;
                        height: 6px;
                    }
                }
            }
        }
        .count-posts {
            float: right;
            position: relative;
            display: block;
            text-align: right;
            margin-top: 10px;
            font-size: 60px;
            z-index: -2;
            @media (max-width: 1400px) {
                margin-top: 1em;
            }
            @media (max-width: 1200px) {
                margin-top: 0.5em;
            }
            @media (max-width: 992px) {
                margin-top: -1.2em;
                right: 2em;
                display: flex;
                justify-content: left;
            }
            .count {
                color: mix.$color-black;
                font-family: mix.$font-AbrilFatface;
                opacity: 0.1;
            }
        }
    }
}